.panelControlWrapper {
  position: absolute;
  height: 80px;
  bottom: 30px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.panelBackground {
  background-color: rgba(80, 90, 110, 0.7);
  border-radius: 20px;
  width: 800px;
  display: flex;
  align-items: center;
}

.controlsInfo {
 width: 100%;
 text-align: center;
}

.controlsButtons{
  display: flex;
  align-items: center;
}

.control{
  all: unset;
  cursor: pointer;
  margin-left: 25px;
}

.title {
  color: #f5f5f5;
  font-size: 1.5rem;
  font-weight: 600;
}

.info {
  color: #f5f5f5;
}

.infoLabel {
  font-weight: 600;
}

table {
  height: 100vh;
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}