$fiord-50: #f6f7f9;
$fiord-100: #edeef1;
$fiord-200: #d6d9e1;
$fiord-300: #b2b9c7;
$fiord-400: #8994a7;
$fiord-500: #6a778d;
$fiord-600: #505a6e;
$fiord-700: #454e5f;
$fiord-800: #3c4250;
$fiord-900: #353a45;
$fiord-950: #23262e;
